{% extends 'base.html' %}

{% block intro %}
<h1>
  {% block title %}Syllabus Review{% endblock title %}
</h1>
{% endblock intro %}

{% block content %}
<h3>Number of Unverified Syllabi: {{ unverified_syllabus_count }}</h3>
<h3>Number of Blacklisted Syllabi: {{ blacklisted_syllabi|length }}</h3>

<div>
  <h2>Non-Blacklisted Syllabi</h2>
  {% if syllabi %}
  {% include 'syllabi/_syllabus_table.html' with syllabi=syllabi show_course=True show_instructor_full_name=True %}
  {% else %}
  <p>There are currently no non-blacklisted syllabi that need to be reviewed.</p>
  {% endif %}
</div>

<div>
  <h2>Blacklisted Syllabi</h2>
  {% if blacklisted_syllabi %}
  {% include 'syllabi/_syllabus_table.html' with syllabi=blacklisted_syllabi show_course=True show_instructor_full_name=True %}
  {% else %}
  <p>There are currently no blacklisted syllabi.</p>
  {% endif %}
</div>
{% endblock content %}

{% block extra_js %}
{% include '_footable.html' with include_sort=True %}
{% endblock extra_js %}
