{% extends 'base.html' %}
{% load markup thumbnail %}

{% block content %}
<h1>
  {% block title %}Officers{% endblock title %}
</h1>

{% include '_term_selection.html' %}
{% regroup officers by position as positions %}
{% for position in positions %}
  <div class="officers-section">
    <h3>
      {{ position.grouper }}
      <span>{{ position.grouper.mailing_list }}@tbp</span>
    </h3>
    {% for officer in position.list %}
      <div class="officers-card">
        <div class="officers-img">
          {% if officer.user.userprofile.picture %}
            <img src="{{ officer.user.userprofile.picture|thumbnail_url:'officericon' }}"
              alt="{{ officer.user.userprofile.get_common_name }}">
          {% else %}
            <div class="default-officer"><i class="fa fa-user" alt="{{ officer.user.userprofile.get_common_name }}"></i></div>
          {% endif %}
          
          {% if officer.is_chair %}
            <div class="officers-chair-banner-wrapper">
              <div class="officers-chair-banner">Chair</div>
            </div>
          {% endif %}
        </div>
        <div class="officers-name">
          <span>
          {% if user.is_authenticated %}
            <a href={% url 'user-profiles:detail' officer.user.username %}>{{ officer.user.userprofile.get_common_name }}</a>
          {% else %}
            {{ officer.user.userprofile.get_common_name }}
          {% endif %}
          </span>
		  {% if officer.user.userprofile.alt_officer_email %}
		  {{ officer.user.userprofile.alt_officer_email }}
		  {% else %}
          {{ officer.user.get_username }}@tbp
		  {% endif %}
        </div>
        <div class="officers-bio">
          {{ officer.user.userprofile.get_student_org_user_profile.bio }}
        </div>
      </div>
    {% endfor %}
  </div>
{% endfor %}

{% endblock %}
